/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0;
}

html,
body {
  height: 100%;
}

body {
  font: 16px/20px "Helvetica Neue", Helvetica, sans-serif;
  color: #93a1a1;
  background: #fdf6e3;
  padding-bottom: 80px;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: 16px/20px "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
  color: #b58900;
  margin: 0 0 20px;
}

p {
  margin: 0 0 20px;
}

ul {
  list-style: none;
}


/* Modules */
.welcome {
  margin: 40px;
  padding-bottom: 80px;
  text-align: center;
}

.welcome .btn {
  width: 60%;
  margin-top: 60px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border: 0;
  background: #93a1a1;
  color: #fff;
  text-decoration: none;
}

.btn-good {
  background: #859900;
}

.btn-bad {
  background: #dc322f;
}


.habits {
  padding-bottom: 80px;
}

.habit-form {
  width: 100%;
  padding: 20px;
}

.tinput {
  background: #93a1a1;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  border: 0;
}

.tinput::-webkit-input-placeholder {
  color: #eee8d5;
}

.habit-tinput {
  display: block;
  width: 100%;
}

.habit-form .btn {
  width: 45%;
  float: left;
}

.habit-form .btn-good {
  float: right;
}

.habit-list li {
  position: relative;
}

.habit-list a {
  display: block;
  padding: 10px 20px;
}

.habit-li-good a {
  background: rgba(133, 153, 0, .2);
  color: #859900;
  -webkit-tap-highlight-color: rgba(133, 153, 0, .15);
}

.habit-li-bad a {
  background: rgba(220, 50, 47, .25);
  color: #dc322f;
  -webkit-tap-highlight-color: rgba(220, 50, 47, .15);
}


.btn-trash {
  position: absolute;
  font-size: 18px;
  background: none;
  top: 0;
  right: 0;
  color: #657b83;
}

.day-viewer {
  position: relative;
  height: 80px;
  overflow: hidden;
  -webkit-transition: height 0.3s ease-out;
  -webkit-user-select: none;
}

.day-viewer-hidden {
  height: 0;
}

.day-list {
  width: 1204px; /* 15*80+4 */
  position: absolute;
  left: -442px; /* 1204-320/2 */
  border: 2px solid #fdf6e3;
}

.day-list li {
  float: left;
}

.day-list a {
  display: block;
  width: 80px;
  height: 76px;
  padding: 10px;
  border-right: 2px solid #fdf6e3;
  color: #657b83;
  background: #eee8d5;
  font-weight: normal;
}

.day-list span {
  display: block;
}

.day-day {
  font-size: 15px;
}

.day-date {
  font-size: 11px;
}

.day-log {
  font-size: 11px;
  text-align: right;
}

.day-today a {
  background: #fff;
}

.cf {
  display: table;
}

.cf:after {
  clear: both;
}

.hide {
  display: none;
}

update,
.modal-outer {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background: rgba(0, 0, 0, .35);
}

.modal-outer.modal-showing,
.show-update update {
  display: block;
}

.modal-cover,
.update-cover {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* hack for specificity */
.modal-outer .modal-cover,
.day-list .update-cover {
  width: auto;
  height: auto;
  background: none;
}

.modal-inner,
.update-inner {
  position: fixed;
  top: 80px;
  bottom: 80px;
  left: 20px;
  right: 20px;
  background: #fdf6e3;
  padding: 40px;
}

.update-name {
  font-weight: bold;
  font-size: 20px;
}

.update-good {
  color: #859900;
}

.update-bad {
  color: #dc322f;
}

.btn-update {
  width: 45%;
  float: right;
}

.update-select {
  width: 45%;
  float: left;
  border: 0;
  background: #93a1a1;
  color: #fff;
  padding: 10px 20px;
  -webkit-appearance: none;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: rgba(253, 246, 227, .75);
}

nav:after {
  clear: both;
}

nav .btn {
  width: 45%;
  float: right;
  text-align: center;
  text-transform: lowercase;
}

nav .btn:first-child {
  float: left;
}

.overview {
  padding-bottom: 80px;
}

.dashboard {
  padding-bottom: 80px;
}

.chart-controls {
  padding: 10px 20px 20px;
}

.btn-chart {
  font-size: 12px;
  padding: 2px 5px;
  margin-right: 5px;
}

.btn-chart-selected {
  background: #268bd2;
}

canvas {
  margin: 20px 20px 0;
  width: 280px;
  height: 280px;
}

.btn-clear-data {
  display: block;
  width: 120px;
  text-align: center;
  background: #dc322f;
  margin: auto;
}
