/* Will be compiled down to a single stylesheet with your sass files */
.hide {
  display: none;
}

update {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .35);
}

.show-update update {
  display: block;}

.update-cover {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.update-inner {
  position: absolute;
  top: 120px;
  bottom: 120px;
  left: 40px;
  right: 40px;
  background: #fff;
  padding: 40px;dd
}
