/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0;
}

body {
  font: 16px/20px "Helvetica Neue", Helvetica, sans-serif;
  color: #93a1a1;
  background: #fdf6e3;
}

a {
  text-decoration: none;
}

input,
button,
textarea {
  font: 16px/20px "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
  color: #b58900;
  margin: 0 0 20px;
}

ul {
  list-style: none;
}


/* Modules */
.welcome {
  margin: 40px;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border: 0;
  background: #93a1a1;
  color: #fff;
  text-decoration: none;
}

.btn-good {
  background: #859900;
}

.btn-bad {
  background: #dc322f;
}


.habit-form {
  width: 100%;
  padding: 20px;
}

.tinput {
  background: #93a1a1;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  border: 0;
}

.tinput::-webkit-input-placeholder {
  color: #eee8d5;
}

.habit-tinput {
  display: block;
  width: 100%;
}

.habit-form .btn {
  width: 45%;
  float: left;
}

.habit-form .btn-good {
  float: right;
}

.habit-list li {
  position: relative;
}

.habit-list a {
  display: block;
  padding: 10px 20px;
  font-weight: bold;
}

.habit-li-good a {
  background: rgba(133, 153, 0, .2);
  color: #859900;
}

.habit-li-bad a {
  background: rgba(220, 50, 47, .25);
  color: #dc322f;
}


.habit-done {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: rgba(253, 246, 227, .75);
}

.btn-trash {
  position: absolute;
  font-size: 18px;
  background: none;
  top: 0;
  right: 0;
  color: #657b83;
}

.day-viewer {
  height: 80px;
  overflow: hidden;
}

.day-list {
  /*14*80*/
  width: 2000px;
  border: 2px solid #fdf6e3;
}

.day-list li {
  float: left;
}

.day-list a {
  display: block;
  width: 80px;
  height: 76px;
  padding: 10px;
  border-right: 2px solid #fdf6e3;
  color: #657b83;
  background: #eee8d5;
  font-weight: normal;
  font-size: 14px;
}

.day-list span {
  display: block;
}

.day-log {
  padding-top: 20px;
  font-size: 11px;
  text-align: right;
}

.day-today {
  background: #fff;
}

.cf {
  display: table;
}

.cf:after {
  clear: both;
}

.hide {
  display: none;
}

update {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .35);
}

.show-update update {
  display: block;
}

.update-cover {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.update-inner {
  position: absolute;
  top: 120px;
  bottom: 120px;
  left: 40px;
  right: 40px;
  background: #fff;
  padding: 40px;
}

