@font-face {
    font-family: 'Roboto-Medium';
    src: url('../font/Roboto-Medium-webfont.eot');
    src: url('../font/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Roboto-Medium-webfont.woff') format('woff'),
         url('../font/Roboto-Medium-webfont.ttf') format('truetype'),
         url('../font/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
