<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/roboto.css">
    <link rel="stylesheet" href="styles/font-awesome.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="habitsApp">

    <!-- Add your site or application content here -->
    <div class="container" ng-view></div>

    <div ng-controller="ConfirmCtrl" class="modal-outer {{ confirmDisplay | className:'modal-showing' }}">
      <a fast-click="close()" class="modal-cover"></a>
      <div class="modal-inner">
        <p><b>{{ message }}</b></p>
        <div class="btn-row cf">
          <a class="btn btn-good" fast-click="accept()">ok</a>
          <a class="btn btn-bad" fast-click="close()">cancel</a>
        </div>
      </div>
    </div>

    <div ng-controller="UpdateCtrl" class="modal-outer {{ updateDisplay | className:'modal-showing' }}">
      <a fast-click="close()" class="modal-cover"></a>
      <div class="modal-inner">
        <p>Update</p>
        <p class="update-name update-{{ sentiment }}">{{ name }}</p>
        <p>{{ dateStr }}</p>
        <div class="btn-row cf">
          <select class="update-select" ng-model="count">
            <option ng-repeat="i in numbers">{{ i }}</option>
          </select>
          <button class="btn btn-update btn-{{ sentiment }}" fast-click="updateDay(count)">Update</button>
        </div>
      </div>
    </div>

    <!-- build:js scripts/scripts.js -->
    <script src="components/angular/angular.js"></script>
    <script src="scripts/vendor/cordova-2.7.0.js"></script>
    <script src="scripts/app.js"></script>
    <script src="components/chart-js/Chart.js"></script>
    <script src="scripts/services/storage.js"></script>
    <script src="scripts/services/randomHabit.js"></script>
    <script src="scripts/services/habits.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/habits.js"></script>
    <script src="scripts/controllers/dashboard.js"></script>
    <script src="scripts/controllers/overview.js"></script>
    <script src="scripts/controllers/confirm.js"></script>
    <script src="scripts/controllers/update.js"></script>
    <script src="scripts/filters/className.js"></script>
    <script src="scripts/directives/logHabit.js"></script>
    <script src="scripts/directives/longClick.js"></script>
    <script src="scripts/directives/dragX.js"></script>
    <script src="scripts/directives/fastClick.js"></script>
    <script src="scripts/directives/chart.js"></script>
    <!-- endbuild -->

  </body>
</html>
